@import "../../assets/base.less";

#login {
  .login-main{
    h2 {
        text-align: center;
        color: @themesColor;
    }
    .notice {
        font-size: 12px;
        padding-top: 15px;
        a {
            color: @themesColor;
        }
    }
    input {
        margin-top: 20px;
        font-size: 14px;
    }
    button {
        margin-top: 20px;
        font-size: 16px;
        width: 100%;
    }
    h4 {
        font-size: 22px;
    }
  }
}
