@import "../../assets/base.less";
@import "../../assets/article.less";



.article {
    padding: 15px 20px;
    overflow: hidden;
    pre {
        background-color: #f7f7f7;
        color: #3a3432;
        font-family: 'Consolas','Cousine', monospace;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
