@import "./base.less";

#detail {
    .article {
        padding: 15px 20px;
        h1, h2 {
            margin-top: 1em;
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
          }
           ol,  ul {
            padding-left: 2rem;
            margin: .5rem 0;
          }
          
           ol > li,  ul > li {
            color: @themesColor;
          }
          
           ol > li > *,  ul > li > * {
            color: #333;
          }
          
           ol > li > *:not(ol):not(ul),  ul > li > *:not(ol):not(ul) {
            padding-left: .25rem;
          }
          
           ul {
            list-style-type: disc;
          }
          /* 自定义样式 */
          code {
              background: #e9ecef;
              border-radius: 3px;
              padding: 2px;
              margin: 0 2px;
              font-family: 'Consolas','Cousine', monospace;
          }
          pre {
              background-color: #f7f7f7;
              color: #3a3432;
              margin: 10px 0;
              border: 1px solid #ccc;
              border-radius: 3px;
              padding: 8px 12px;
              code {
                  padding: 0;
                  margin: 0;
                  border: none;
                  background: none;
                  font-family: 'Consolas','Cousine', monospace;
              }
          }
    }
}


 